#root {
    width: 1280px;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 640px;
    flex-direction: horizontal;
    flex: auto;

}

.nav-item {
    flex-grow: 1;
    color: #aaaaaa;
    background-color: #111111;
    text-align: center;
    line-height: 50px;
}

.nav-item:hover {
    color: #cccccc;
    background-color: #222222;
}

.card {
    padding: 2em;
}