.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
    /* padding: 10px 0px; */
    background-color: #eee;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
}

.thumbnail img {
    width: 250px;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.thumbnail div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}